.anchor {
  color: control;
}

.comment {
  color: comment;
}

.constant {
  color: constant;

  &.character {
    &.escape {
      color: comment;
    }
  }

  &.language {
    &.merge {
      color: control;
    }
  }
}

.entity {
  color: type;

  &.name {
    &.function {
      color: function;
    }

    &.type {
      &.anchor {
        color: variable;
      }
    }

    &.tag {
      &.reference {
        color: variable;
      }

      // &.wildcard {
      //   color: $control;
      // }
    }

    &.context {
      color: foreground;
    }

    .source.github-actions-workflow &,
    .source.yaml &,
    .source.helm & {
      color: key;
    }
  }

  &.other {
    &.document {
      color: foreground;
    }

    &.inherited-class {
      color: type;
    }

    &.attribute-name {
      color: key;

      &.attribute {
        color: key;
      }

      &.parent-selector-suffix {
        .punctuation {
          color: type;
        }
      }

      .source.css & {
        color: type;

        // &.pseudo-element {
        //   color: $pseudo;
        // }

        // &.pseudo-class {
        //   color: $pseudo;
        // }
      }

      .text & {
        color: key;
      }
    }

    &.ng-binding-name {
      &.template {
        .entity {
          color: control;
        }
      }

      &.property {
        .entity {
          color: variable;
        }
      }

      &.event,
      &.two-way {
        .entity {
          color: function;
        }
      }
    }
  }
}

.keyword {
  color: support;

  &.control {
    color: control;

    &.as,
    .case-clause & {
      color: storage;
    }

    &.\-,
    &.\@,
    &.-\@,
    &.import,
    &.export,
    &.from {
      color: support;
    }

    &.at-rule {
      color: support;

      &.media {
        color: control;
      }
    }
  }

  &.directive {
    color: key;
  }

  &.operator {
    color: foreground;

    &.expression {
      color: control;

      &.import {
        color: support;
      }
    }

    &.new {
      color: storage;
    }
  }

  &.other {
    &.important {
      color: foreground;
    }

    &.debugger {
      color: control;
    }

    &.special-method {
      color: function;
    }
  }
}

.meta {
  &.attribute {
    &-selector {
      color: string;
    }
  }

  &.property-name,
  &.object-literal.key {
    color: key;
  }

  &.function,
  &.function-call {
    color: function;

    .support {
      color: constant;
    }
  }

  &.brace {
    color: foreground;
  }

  &.type,
  &.selector {
    color: type;
  }
}

.punctuation {
  color: foreground;

  &.definition {
    &.comment,
    &.interpolation,
    &.string,
    &.tag,
    &.template-expression,
    &.type,
    &.typeparameters,
    &.variable {
      color: comment;
    }

    &.anchor {
      color: control;
    }

    &.constant {
      color: support;
    }

    .source.nginx & {
      &.variable {
        color: support;
      }
    }
  }

  &.section,
  &.support,
  &.terminator {
    color: comment;

    &.function,
    &.property-list {
      color: foreground;
    }
  }
}

.storage {
  color: storage;

  &.modifier {
    color: support;
  }
}

.string {
  color: string;

  &.ipaddress {
    color: constant;
  }
}

.support {
  &.constant {
    color: constant;

    // &.math,
    &.mathematical-symbols {
      color: foreground;
    }
  }

  &.class,
  &.type {
    color: type;

    &.property-name,
    &.map.key {
      color: key;
    }

    &.object.module {
      color: support;
    }
  }

  &.function {
    color: function;
  }

  &.variable {
    color: variable;
  }
}

.text {
  &.html {
    color: foreground;
  }
}

.variable {
  color: variable;

  &.language {
    color: constant;
  }

  &.parameter {
    &.url {
      color: string;
    }
  }

  // .meta.object-literal.key & {
  //   color: key;
  // }
}
