$string: #7e7;
$comment: #777;
$support: #aaa;
$puncuation: #eee;
$storage: #a8f;
$control: #eaf;
$constant: #37c;
$variable: #7be;
$function: #9ef;
$type: #ec7;
$key: #b97;

.anchor {
  color: $control;
}

.comment {
  color: $comment;
}

.constant {
  color: $constant;

  &.character {
    &.escape {
      color: $comment;
    }
  }

  &.language {
    &.merge {
      color: $control;
    }
  }
}

.entity {
  color: $type;

  &.name {
    &.function {
      color: $function;
    }

    &.type {
      &.anchor {
        color: $variable;
      }
    }

    &.tag {
      &.reference {
        color: $constant;
      }
    }

    &.context {
      color: $puncuation;
    }

    .source.yaml &,
    .source.helm & {
      color: $key;
    }
  }

  &.other {
    &.document {
      color: $puncuation;
    }

    &.inherited-class {
      color: $type;
    }

    &.attribute-name {
      $this: &;

      &.attribute {
        color: $key;
      }

      &.parent-selector-suffix {
        .punctuation {
          color: $type;
        }
      }

      .source.css & {
        color: $type;
      }

      .text & {
        color: $key;
      }

      @at-root .meta.attribute {
        &.control #{$this} {
          color: $control;
        }

        &.input #{$this} {
          color: $variable;
        }

        &.output #{$this} {
          color: $function;
        }
      }
    }
  }
}

.keyword {
  color: $support;

  &.operator {
    color: $puncuation;

    &.expression,
    &.new {
      color: $storage;
    }
  }

  &.control {
    color: $support;

    &.conditional,
    &.flow,
    &.include,
    &.loop,
    &.switch,
    &.trycatch {
      color: $control;

      .case-clause & {
        color: $storage;
      }
    }

    &.as,
    .source.css & {
      color: $storage;
    }
  }

  &.directive {
    color: $key;
  }

  &.other {
    &.debugger {
      color: $control;
    }

    &.special-method {
      color: $function;
    }
  }
}

.meta {
  &.attribute {
    &-selector {
      color: $string;
    }
  }

  &.property-name,
  &.object-literal.key {
    color: $key;
  }

  &.function,
  &.function-call {
    color: $function;

    .support {
      color: $constant;
    }
  }

  &.block,
  &.function,
  &.parameters {
    color: $storage;
  }

  &.brace {
    color: $puncuation;
  }

  &.type,
  &.selector {
    color: $type;
  }
}

.punctuation {
  color: $puncuation;

  &.definition {
    &.comment,
    &.interpolation,
    &.string,
    &.tag,
    &.template-expression,
    &.type,
    &.typeparameters,
    &.variable {
      color: $comment;
    }

    &.anchor {
      color: $control;
    }

    &.constant {
      color: $support;
    }

    .source.nginx & {
      &.variable {
        color: $support;
      }
    }
  }

  &.support,
  &.terminator {
    color: $comment;
  }
}

.storage {
  color: $storage;

  &.modifier {
    color: $support;
  }
}

.string {
  color: $string;

  &.ipaddress {
    color: $constant;
  }
}

.support {
  &.constant {
    color: $constant;

    // &.math,
    &.mathematical-symbols {
      color: $puncuation;
    }

    &.property-value {
      color: $support;
    }
  }

  &.class,
  &.type {
    color: $type;

    &.property-name,
    &.map.key {
      color: $key;
    }

    &.object.module {
      color: $support;
    }
  }

  &.function {
    color: $function;
  }

  &.variable {
    color: $variable;
  }
}

.text {
  &.html {
    color: $puncuation;
  }
}

.variable {
  color: $variable;

  &.language {
    color: $constant;
  }
}
