$string: #7e7;
$comment: #777;
$support: #aaa;
$puncuation: #eee;
$storage: #a8f;
$control: #eaf;
$constant: #37c;
$variable: #7be;
$function: #9ef;
$type: #ec7;
$key: #b97;

.keyword {
  foreground: $support;

  &.operator {
    foreground: $puncuation;

    &.expression,
    &.new {
      foreground: $storage;
    }
  }

  &.control {
    foreground: $support;

    &.conditional,
    &.flow,
    &.include,
    &.loop,
    &.switch,
    &.trycatch {
      foreground: $control;

      .case-clause & {
        foreground: $storage;
      }
    }

    &.as,
    .source.css & {
      foreground: $storage;
    }
  }

  &.directive {
    foreground: $key;
  }

  &.other {
    &.debugger {
      foreground: $control;
    }

    &.special-method {
      foreground: $function;
    }
  }
}

.storage {
  foreground: $storage;

  &.modifier {
    foreground: $support;
  }
}

.constant {
  foreground: $constant;

  &.language {
    &.merge {
      foreground: $control;
    }
  }
}

.support {
  &.constant {
    foreground: $constant;

    &.math,
    &.mathematical-symbols {
      foreground: $puncuation;
    }

    &.property-value {
      foreground: $support;
    }
  }

  &.class,
  &.type {
    foreground: $type;

    &.property-name,
    &.map.key {
      foreground: $key;
    }

    &.object.module {
      foreground: $support;
    }
  }

  &.function {
    foreground: $function;
  }

  &.variable {
    foreground: $variable;
  }
}

.variable {
  foreground: $variable;

  &.language {
    foreground: $constant;
  }
}

.entity {
  foreground: $type;

  &.name {
    &.function {
      foreground: $function;
    }

    &.type {
      &.anchor {
        foreground: $variable;
      }
    }

    &.tag {
      &.reference {
        foreground: $constant;
      }
    }

    &.context {
      foreground: $puncuation;
    }

    .source.yaml & {
      foreground: $key;
    }
  }

  &.other {
    &.inherited-class {
      foreground: $type;
    }

    &.attribute-name {
      $this: &;

      &.attribute {
        foreground: $key;
      }

      &.parent-selector-suffix {
        .punctuation {
          foreground: $type;
        }
      }

      .source.css & {
        foreground: $type;
      }

      .text & {
        foreground: $key;
      }

      @at-root .meta.attribute {
        &.control #{$this} {
          foreground: $control;
        }

        &.input #{$this} {
          foreground: $variable;
        }

        &.output #{$this} {
          foreground: $function;
        }
      }
    }
  }
}

.text {
  &.html {
    foreground: $puncuation;
  }
}

.meta {
  &.attribute {
    &-selector {
      foreground: $string;
    }
  }

  &.property-name,
  &.object-literal.key {
    foreground: $key;
  }

  &.function,
  &.function-call {
    foreground: $function;
  }

  &.block,
  &.function,
  &.parameters,
  &.scope.function-call {
    foreground: $storage;
  }

  &.brace {
    foreground: $puncuation;
  }

  &.type,
  &.selector {
    foreground: $type;
  }
}

.punctuation {
  foreground: $puncuation;

  &.definition {
    &.comment,
    &.interpolation,
    &.string,
    &.tag,
    &.template-expression,
    &.type,
    &.typeparameters,
    &.variable {
      foreground: $comment;
    }

    &.anchor {
      foreground: $control;
    }

    &.constant {
      foreground: $support;
    }

    .source.nginx & {
      &.variable {
        foreground: $string;
      }
    }
  }

  &.support,
  &.terminator {
    foreground: $comment;
  }
}

.anchor {
  foreground: $control;
}

.comment {
  foreground: $comment;
}

.string {
  foreground: $string;

  &.ipaddress {
    foreground: $constant;
  }
}
