.punctuation.support,
.punctuation.terminator {
  content: url(/assets/icons/check.svg);
  foreground: #777;

  ::ng-deep asdf .fdsfsdf {
    &:after {
      content: attr(data) ': ';
    }
  }
}

a {
  content: url(/assets/icons/check.svg);

  @media (min-width: 20px) {
    /deep/ asdf {
      cursor: pointer;
    }
  }
}
